button{
    border: none;
    padding:10px 0 10px 0;
    color: white;
    font-weight: bold;
    width: 200px; 
    margin-bottom: 5px;
    border-radius: 5px;
}
#People
{
    display: grid;
    place-items: center;
}
#Increment{
    background-color: red;
}
#Save{
    background-color: green;
}